.App {
  text-align: center;
}

.navBar {
  display: flex;
  margin-bottom: 25px;
  flex-direction:row;
  justify-content: space-between;
  height: 200px;
  width: 100%;
  background-color: #122d35;
  opacity: 90%;
  border: solid #39ff14 1px;
  opacity: 90%;
  border-radius: 20px;
  padding: 5px 0px;
  }
.Titleimg {
  display: flex;
  position: relative;
  width: 200px;
  height: 200px;
  padding: 20px 0px 0px 20px;
  align-self: flex-end;
}

.detail{
  display: flex;
  position: relative;
  justify-content: center;  
}

